<%= render 'form', note: @note %>

<% if @note.errors.any? %>
  <div class="card-panel red lighten-4">
    <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

